# External object storage backend
GLOBAL_S3_BUCKET=supabase-storage
REGION=us-east-1
GLOBAL_S3_ENDPOINT=http://s3.example.com
GLOBAL_S3_PROTOCOL=http
GLOBAL_S3_FORCE_PATH_STYLE=true
STORAGE_S3_ENDPOINT=http://s3.example.com
STORAGE_S3_PROTOCOL=http
STORAGE_S3_FORCE_PATH_STYLE=true
STORAGE_S3_REGION=us-east-1
STORAGE_S3_ACCESS_KEY_ID=replace_with_external_s3_access_key
STORAGE_S3_SECRET_ACCESS_KEY=replace_with_external_s3_secret_key
